<% provide(:title, "Hasnest S7 miner statistics") %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


    <h1>Hasnest S7 miner statistics</h1>
    <p>
	<h2>S7 BTC</h2>
      <%= area_chart Dataset.where("s7_btc > ?", 0.0).group_by_day( :created_at, "avg", "s7_btc") %>
      <h2>S7 USD</h2>
      <%= area_chart Dataset.where("s7_btc > ?", 0.0).group_by_day( :created_at, "avg", "s7_btc * btc_price") %>
      <h2>S7 percent return per day</h2>
      <%= area_chart Dataset.where("s7_btc > ?", 0.0).group_by_day( :created_at, "avg", "(502914.19/difficulty*btc_price-0.000580)/(s7_btc * btc_price)*100") %>
      <br>


      <h2>S7 commulative percent btc income</h2>
      <% theSet = Dataset.where("s7_btc > ?", 0.0).group_by_day( :created_at, "avg", "(502914.19/difficulty*btc_price-0.001625)/(btc_price)/0.002*100")
        sum = 0
        result = theSet.map {|x,y| [x, (sum+=y)]}
        %>
        <%= area_chart result %>

        <h2>Percent S7 profit btc after selling the S7</h2>
    
      <% 
        sum = 0

        theSet = Dataset.where("s7_btc > ?", 0.0).group_by_day( :created_at, "avg", "(502914.19/difficulty*btc_price-0.001625)/(btc_price)/0.002*100")
        theHashPrice = Dataset.where("s7_btc > ?", 0.0).group_by_day( :created_at, "avg", "s7_btc/0.002*100")
        theNewSet = Hash[*theSet.map {|x,y| [x, - theHashPrice.values[0] + (sum+=y)]}.flatten(1)]
        
        finalSet = theNewSet.merge(theHashPrice){ |k, a_value, b_value| a_value + b_value }
        %>
        <%= area_chart finalSet %>



            <br>
    </p>
  </body>
</html>