<% provide(:title, "Home") %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<center>
    <h1>Bitcoin Mining</h1>
    <p>
      This is a website with a lot of graphs and statistics on HashNest's miners. Hopefully this information will be useful for people who are interested in cloud mining Bitcoins.

      <br>
      <br>
      


      <h2> Miner prices in USD </h2>
      <%
      
        
        coolData = [
        {name: "s3", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s3_btc * btc_price")},
        {name: "s4", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s4_btc * btc_price")},
        {name: "s5", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s5_btc * btc_price")},
        {name: "s7", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s7_btc * btc_price")}
        ]

        %>

        <%= line_chart coolData, library: {curveType: "none", pointSize: 0, lineWidth: 3, height: 600} %>

        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>


          <h2> Miner prices in BTC </h2>
      <%
      
        
        coolData = [
        {name: "s3", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s3_btc")},
        {name: "s4", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s4_btc")},
        {name: "s5", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s5_btc")},
        {name: "s7", data: Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "s7_btc")}
        ]

        %>

        <%= line_chart coolData, library: {curveType: "none", pointSize: 0, lineWidth: 3, height: 600} %>

        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>




        <h2> Miner daily profit in percent </h2>

        <%
        coolDataTwo = [
        {name: "s7", data: Dataset.where("created_at >= ?", 180.day.ago.utc).where("s7_btc > ?", 0.0).group_by_day( :created_at, "avg", "(502914.19/difficulty*btc_price-0.000580)/(s7_btc * btc_price)*100")},
        {name: "s5", data: Dataset.where("created_at >= ?", 180.day.ago.utc).where("s5_btc > ?", 0.0).group_by_day( :created_at, "avg", "(502914.19/difficulty*btc_price-0.001175)/(s5_btc * btc_price)*100")},
        {name: "s4", data: Dataset.where("created_at >= ?", 180.day.ago.utc).where("s4_btc > ?", 0.0).group_by_day( :created_at, "avg", "(502914.19/difficulty*btc_price-0.001625)/(s4_btc * btc_price)*100")},
          {name: "s3", data: Dataset.where("created_at >= ?", 180.day.ago.utc).where("s3_btc > ?", 0.0).group_by_day( :created_at, "avg", "(502914.19/difficulty*btc_price-0.00192)/(s3_btc * btc_price)*100")} 
        ]

        %>

        <%= line_chart coolDataTwo, library: {curveType: "none", pointSize: 0, lineWidth: 3} %>


      <br>
      <h2>BTC-USD</h2>
      <%= area_chart Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "btc_price") %>
      <h2>Difficulty</h2>
      <%= area_chart Dataset.where("created_at >= ?", 180.day.ago.utc).group_by_day( :created_at, "avg", "difficulty") %>

 

      <br>
      <br>
    </p>
  </body>
</html>