<% provide(:title, "Hashnest Market") %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    <h1>Hashnest Market</h1>
    <p><center>
      This is the market, updated every hour. Only orders of more than 50 Hash are shown.
    </p>

  

      <br>

      <% 

        sale = Order.where(:ordertype => "sale").where(:market => "20")
        purchase = Order.where(:ordertype => "purchase").where(:market => "20")
        pcum = 0
        scum = 0
       %>
      <br>

      <h2> S7 market </h2>
      <table>
      <td valign="top">

      <table>
     
        <tr>
          <th>Sale</th>
          </tr>
        <% 
        sale.each do |s|
          scum = scum + s.amount  
          if (s.amount > 50)
          %>
          <font size=5>
          <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>

         <%= s.price %></td>
         

         <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= scum %></i></td>
        </tr>
        </b>
       
       <% 
        end
       end %>
       </tr>
        
        </table>
        </td>
        <th></th><td>
        <td valign="top">
        <table>

        <tr>
          <th>Purchase</th>
          
        <% purchase.each do |s| 
          pcum = pcum + s.amount
            if (s.amount > 50)
          %>

        
        <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>
         <%= s.price %></td>
          <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= pcum %></i></td>
          </tr>
       <% 
        end
       end %>
       </tr>
        </table>
        </td>
        </table>
      <br>
  
      <br>

            <% 

        sale = Order.where(:ordertype => "sale").where(:market => "19")
        purchase = Order.where(:ordertype => "purchase").where(:market => "19")
        pcum = 0
        scum = 0
       %>

      <h2> S5 market </h2>
      <table>
      <td valign="top">

      <table>
     
        <tr>
          <th>Sale</th>
          </tr>
        <% 
        sale.each do |s|
          scum = scum + s.amount  
          if (s.amount > 50)
          %>
          <font size=5>
          <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>

         <%= s.price %></td>
         

         <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= scum %></i></td>
        </tr>
        </b>
       
       <% 
        end
       end %>
       </tr>
        
        </table>
        </td>
        <th></th><td>
        <td valign="top">
        <table>

        <tr>
          <th>Purchase</th>
          
        <% purchase.each do |s| 
          pcum = pcum + s.amount
            if (s.amount > 50)
          %>

        
        <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>
         <%= s.price %></td>
          <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= pcum %></i></td>
          </tr>
       <% 
        end
       end %>
       </tr>
        </table>
        </td>
        </table>
      <br>
  
      <br>
  

          <% 

        sale = Order.where(:ordertype => "sale").where(:market => "18")
        purchase = Order.where(:ordertype => "purchase").where(:market => "18")
        pcum = 0
        scum = 0
       %>

      <h2> S4 market </h2>
      <table>
      <td valign="top">

      <table>
     
        <tr>
          <th>Sale</th>
          </tr>
        <% 
        sale.each do |s|
          scum = scum + s.amount  
          if (s.amount > 50)
          %>
          <font size=5>
          <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>

         <%= s.price %></td>
         

         <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= scum %></i></td>
        </tr>
        </b>
       
       <% 
        end
       end %>
       </tr>
        
        </table>
        </td>
        <th></th><td>
        <td valign="top">
        <table>

        <tr>
          <th>Purchase</th>
          
        <% purchase.each do |s| 
          pcum = pcum + s.amount
            if (s.amount > 50)
          %>

        
        <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>
         <%= s.price %></td>
          <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= pcum %></i></td>
          </tr>
       <% 
        end
       end %>
       </tr>
        </table>
        </td>
        </table>
      <br>
  
      <br>




                <% 

        sale = Order.where(:ordertype => "sale").where(:market => "15")
        purchase = Order.where(:ordertype => "purchase").where(:market => "15")
        pcum = 0
        scum = 0
       %>

      <h2> S3 market </h2>
      <table>
      <td valign="top">

      <table>
     
        <tr>
          <th>Sale</th>
          </tr>
        <% 
        sale.each do |s|
          scum = scum + s.amount  
          if (s.amount > 50)
          %>
          <font size=5>
          <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>

         <%= s.price %></td>
         

         <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= scum %></i></td>
        </tr>
        </b>
       
       <% 
        end
       end %>
       </tr>
        
        </table>
        </td>
        <th></th><td>
        <td valign="top">
        <table>

        <tr>
          <th>Purchase</th>
          
        <% purchase.each do |s| 
          pcum = pcum + s.amount
            if (s.amount > 50)
          %>

        
        <tr>
         <td width = 150>
          <% if s.amount > 3000 %>
          <b>
          <% end %>
         <%= s.price %></td>
          <td width = 100><%= s.amount %></td>
         <td width = 150><i><%= pcum %></i></td>
          </tr>
       <% 
        end
       end %>
       </tr>
        </table>
        </td>
        </table>
      <br>
  
      <br>

        
      <br>
    </p>
  </body>
</html>