<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Home", root_path %> - 
        <%= link_to "Market", market_path %> - 
        <%= link_to "Miners", miners_path %> -
        <%= link_to "Hashnest S7", hashnest_s7_path %>
        <%= link_to "Hashnest S5", hashnest_s5_path %>
        <%= link_to "Hashnest S4", hashnest_s4_path %>
        <%= link_to "Hashnest S3", hashnest_s3_path %>
        <br><br>
        
      </ul>
    </nav>
  </div>
</header>